<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752627951060-vcgu91v85oqt8h2a68r0ood30gpr8lo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752627951060-vcgu91v85oqt8h2a68r0ood30gpr8lo3</string>
	<key>API_KEY</key>
	<string>AIzaSyDBUhr-341sjj66jDjgDBJAzKHbjL96cZw</string>
	<key>GCM_SENDER_ID</key>
	<string>752627951060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trainingCourse</string>
	<key>PROJECT_ID</key>
	<string>my-notes-4b012</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-4b012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752627951060:ios:1f6ec92095b62533c9a241</string>
</dict>
</plist>